.DS_Store
DATASET/touch_events_1liga.csv
DATASET/touch_events_5liga.csv
outputs_ssl_vs_rawgrid_position_proxy/filtered_events_1liga.csv
outputs_ssl_vs_rawgrid_position_proxy/filtered_events_5liga.csv
